{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="header">
        <span class="logo"> bookmarks</span>

       
    </div>
    <div id="content">
        {% block content %}
        {% endblock %} 
        <p>hola</p>
    </div>
</body>
</html>