<p>eee</p>
{% extends "base.html" %} 
<h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Log In</button>
</form>

{% block title %} Log in {% endblock %} 

{% block content %} 
    <hi>Log in</hi>
    {% if form.errors %} 
    <p>
        Your username and password didn't match
        Try again
    </p>
{% else %} 
    <p>Please, use the following form to log-in</p>
{% endif %} 
<div class="login-form">
    <form action = "{% url 'login' %}" method="POST">
        {{ form.as_p }} 
        {% csrf_token %}
        <input type = "hidden" name="next" value = "{{ next }}" />
        <p><input type="submit" value="Log in"></p>
    </form>


</div>
<div class="social-auth">
    <ul>
        <li class="google">
            <a href="{"url "social:begin" "google-oauth2" %}"> Sign in with Google</a>
        </li>
    </ul>
</div>
{% endblock %} 